[Desktop Entry]
Name=WhatsWine
GenericName=WhatsApp Client
Comment=Unofficial WhatsApp desktop client for Linux
Exec=whatswine %U
Icon=${SNAP}/whatswine/icon.png
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=WhatsWine
